ENVIRONMENT_PREFIX="dev"
PROJECT_PREFIX="infrah"
PROJECT_LOCATION="North Europe"
LOG_FOLDER="${LOG_FOLDER:-${HOME}/logs}"

mkdir -p "$LOG_FOLDER"
PROJECT_RESOURCE_GROUP="investmentPlan"
PROJECT_SUBSCRIPTION_ID="22dbaada-4f56-47b4-a336-887a71789cfc"
ACR_NAME="${ENVIRONMENT_PREFIX}${PROJECT_PREFIX}contregistry"